doctype html
include include/head.pug

.container
  include include/navbar.pug
  table.table
    thead
      tr
        th(scope='col') Filename
        th(scope='col') Uploaded Time
        th(scope='col') Last Modified
        th(scope='col') Modify
        th(scope='col') Reupload
        th(scope='col') Delete
    tbody
      tr
        td Test File #1
        td 2021-11-21 08:53:08
        td 2021-11-21 08:53:08
        td
          button.btn.btn-outline-success.my-2.my-sm-0(type='submit') Modify
        td
          button.btn.btn-outline-success.my-2.my-sm-0(type='submit') Reupload
        td
          button.btn.btn-outline-success.my-2.my-sm-0(type='submit') Delete
      tr
        td Test File #2
        td 2021-11-21 08:56:48
        td 2021-11-21 09:48:02
        td
          button.btn.btn-outline-success.my-2.my-sm-0(type='submit') Modify
        td
          button.btn.btn-outline-success.my-2.my-sm-0(type='submit') Reupload
        td
          button.btn.btn-outline-success.my-2.my-sm-0(type='submit') Delete
      tr
        td Test File #3
        td 2021-11-21 11:03:24
        td 2021-11-21 11:03:24
        td
          button.btn.btn-outline-success.my-2.my-sm-0(type='submit') Modify
        td
          button.btn.btn-outline-success.my-2.my-sm-0(type='submit') Reupload
        td
          button.btn.btn-outline-success.my-2.my-sm-0(type='submit') Delete
include include/scripts.pug
