doctype html
include include/head.pug

.container
  include include/navbar.pug
  h3 Welcome to Distributed System 
    i DivSys
  br
  .row
    .col
        h4 Choose your app
    .col
        a(href="blog")
          button.btn.btn-block.btn-outline-success Blog
    .col
        a(href="wallet")
         button.btn.btn-block.btn-outline-success Wallet
include include/scripts.pug
